<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555153012192-auepge0j9k4e0q27lk843p2n5p31902e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555153012192-auepge0j9k4e0q27lk843p2n5p31902e</string>
	<key>API_KEY</key>
	<string>AIzaSyAMnjbm1f9qXlOmR_JnRIO9eEzm30_mL2c</string>
	<key>GCM_SENDER_ID</key>
	<string>555153012192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.johnjackson.staty</string>
	<key>PROJECT_ID</key>
	<string>stat-y</string>
	<key>STORAGE_BUCKET</key>
	<string>stat-y.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555153012192:ios:03509261a064b53f21a785</string>
</dict>
</plist>